
/*basic reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgrey;
}
/*font size of the key names*/
h6 {
  font-size: 0.75vw;
}

#piano {
  margin: 25vh 12.5vw 0 12.5vw;
  position: fixed;
  height: 200px;
  border: 5px solid black;
  top: calc(50%-100px);
  left: calc(50%-350px);
  overflow: hidden;
}

.majorKey {
  height: 100%;
  width: 3vw;
  background: white;
  float: left;
  border-right: 1px solid black;
  position: relative;
}

.minorKey {
  position: absolute;
  height: 65%;
  width: 55%;
  z-index: 1;
  background: #333333;
  left: 75%;
}

.keyName {
  position: absolute;
  top: 90%;
  z-index: 1;
}

.minorKey > .keyName {
  background-color: #333333;
  color: white;
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.majorKey > .keyName {
  background-color: white;
  position: absolute;
  left: 35%;
}
@media only screen and (max-width: 1000px) {
  .majorKey {
    width: 5vw;
  }
}

@media only screen and (max-width: 500px) {
  #piano {
    height: 0px;
    border: 0px;
  }
}
